header {
    background-color: #BBBBBB;
}
.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{ /*centrar de otra manera*/
    position: absolute;
    top: 150px;
    right: 0%;
}
nav li {
    display: inline;
    margin-left: 20px;
}
nav li a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
h1 img {
    height: 300px;
}

/*main*/
li img {
    height: 200px;
}
.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /*separacion*/
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.productos h2 {
    font-size: 30px;
    font-weight: bold;
}
.producto-descripcion {
    font-size: 18px;
}
.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    background-color: #252525;
}
.pie {
    color: antiquewhite;
    font-size: 15px;
    padding: 10px;
    
}
nav a:hover{
    color: rgb(158, 116, 39);
    text-decoration: underline;
}
.productos li:hover{
    border-color: rgb(174, 122, 25);
}
.productos li:hover h2{
    font-size: 33px;
}
.productos li:active{
    border-color: green;
}